@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,400&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

header {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
}

header img {
  width: 56px;
}

main {
  text-align: center;
  margin: 0 28px;
}

h1 {
  font-size: 22px;
  line-height: 32px;
  color: #969696;
  margin: 0 9px;
}

strong {
  font-weight: 700;
  color: #15202A;
}

main > p {
  font-size: 12px;
  line-height: 15px;
  color: #15202A;
  margin: 15px 9px 32px;
}

.oval {
  height: 40px;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 28px;
}

input {
  text-align: left;
  padding-left: 32px;

  font: 300 12px/20px 'Libre Franklin', sans-serif;
  color: #15202A;
  border: 1px solid #C2D3FF;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
}

input::placeholder {
  font: 300 12px/20px 'Libre Franklin', sans-serif;
  color: #B8C7ED;
}

.err input {
  border: 1px solid #FF5466;
}

.form p {
  display: none;
}

.form p {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  margin: 2px 0 20px;
}

.form.err .error {
  display: block;
  color: #FF5466;
}

.form.success .alert {
  display: block;
  color: #016401;
}

.btn {
  display: block;
  margin: 10px auto 72px;
  background: #4C7BF3;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;

  box-shadow: 0 5px 10px 2px rgba(76, 123, 243, 0.230414);
}

footer {
  width: 169px;
  display: grid;
  grid-template-columns: 52px 32px 52px;
  grid-template-areas:
  ". . ."
  "copyright copyright copyright";
  justify-items: center;
  align-items: center;
  gap: 23px 12px;

  margin: 124px auto 37px;
}

.circle {
  width: 31px;
  height: 31px;
  border: 1px solid rgba(76, 123, 243, 0.15);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:first-of-type {
  justify-self: end;
}

.circle:last-of-type {
  justify-self: start;
}

ion-icon {
  font-size: 15px;
  color:#4C7BF3;
}

footer p {
  grid-area: copyright;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #969696;
}


@media (min-width: 712px) {
  header {
    height: 119px;
    margin-top: 40px;
  }

  header img {
    width: 90px;
  }

  main {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
    margin: 0;
  }

  main > p {
    font-size: 20px;
    line-height: 24px;
    color: #15202A;
    margin: 15px 9px 32px;
  }

  .form {
    width: 637px;
    display: grid;
    grid-template-columns: 421px 200px;
    grid-template-areas:
      "input btn"
      "message .";
    gap: 6px 16px;
    margin: 0 auto;
  }

  .oval {
    height: 56px;
  }

  input.oval {
    width: 421px;
    font-size: 16px;
    grid-area: input;
  }

  input::placeholder {
    font-size: 16px;
  }

  .form p {
    font-size: 12px;
    margin: 6px 0 0;
  }
  .err p, .success p {
    grid-area: message;
    justify-self: start;
    padding-left: 32px;
  }

  .btn {
    display: inline;
    grid-area: btn;

    width: 200px;
    margin: 0;
    background: #4C7BF3;

    font-size: 16px;
    line-height: 19px;

    transition: all 400ms;
    cursor: pointer;
  }

  .btn:hover {
    opacity: 0.8;
  }

  main img {
    width: 640px;
    margin-top: 94px;
  }

  footer {
    width: 203px;
    display: grid;
    grid-template-columns: 70px 32px 70px;

    margin: 72px auto 49px;
  }

  .circle {
    transition: all 400ms;
    cursor: pointer;
  }

  .circle:hover {
    background: #4C7BF3;
  }

  ion-icon {
    transition: all 400ms;
  }
  .circle:hover ion-icon {
    color: #FFF;
  }

  footer p {
    font-size: 12px;
    line-height: 15px;
  }
}